<!-- chat-widget.component.html -->
<div class="card card-accent-theme">
    <div class="message-widget">
      <h1> Messages
        <i class="fa fa-comments-o float-right"></i>
      </h1>
  
      <ul id="messageList">
        <li class="clearfix" *ngFor="let message of messages$ | async">
          <a href="#" class="dropdown-item">
            <div class="message-box">
              <div class="u-img float-left">
                <img [src]="message.imageUrl" alt="user" />
              </div>
              <div class="u-text float-left">
                <div class="u-name">
                  <strong>{{ message.displayName || message.user }}</strong>
                </div>
                <p class="text-muted" [innerHTML]="message.content | linkify"></p>
              </div>
            </div>
            <small class="float-right">{{ message.timestamp | date: 'short' }}</small>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="card-footer text-center">
      <a href="" class="text-theme">
        <strong><a routerLink="/chat-board">See all messages</a>  </strong>
      </a>
    </div>
  </div>
  