.social-media img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    margin: 0 5px;
  }
  
  .contact-icons img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    margin: 0 5px;
  }