<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact Record</h1>
        </div>
        <div class="col-md-5">
            <button *ngIf="contact && contact.id" class="btn" (click)="navigateToNote()" id="noteIcon" title="Take Notes">
                <i class="fa-regular fa-note-sticky"></i> Add a Note </button>
            <button *ngIf="contact && contact.id" class="btn" (click)="navigateToUpload()" id="uploadIcon" title="Upload Documents or Avatar">
                <i class="fa-solid fa-upload"></i> Upload Document or Avatar </button>
        </div>
        <div class="col-1 text-right">
            <div *ngIf="!production">
                <label class="switch">
                    <input type="checkbox" [checked]="toggleDisplay" (change)="toggleDiagnostic()">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="col">
            <div class="stepper">
                <div class="step" [class.active]="currentStep >= 1">
                    <div class="circle">1</div>
                    <div class="label">First</div>
                </div>
                <div class="step" [class.active]="currentStep >= 2">
                    <div class="circle">2</div>
                    <div class="label">Middle</div>
                </div>
                <div class="step" [class.active]="currentStep >= 3">
                    <div class="circle">3</div>
                    <div class="label">Last</div>
                </div>
                <div class="step" [class.active]="currentStep >= 4">
                    <div class="circle">4</div>
                    <div class="label">Profession</div>
                </div>
                <div class="step" [class.active]="currentStep >= 5">
                    <div class="circle">5</div>
                    <div class="label">Email</div>
                </div>
                <div class="step" [class.active]="currentStep >= 6">
                    <div class="circle">6</div>
                    <div class="label">Phone</div>
                </div>
                <div class="step" [class.active]="currentStep >= 7">
                    <div class="circle">7</div>
                    <div class="label">Address</div>
                </div>
                <div class="step" [class.active]="currentStep >= 8">
                    <div class="circle">8</div>
                    <div class="label">Online</div>
                </div>
                <div class="step" [class.active]="currentStep >= 9">
                    <div class="circle">9</div>
                    <div class="label">Nickname</div>
                </div>
                <div class="step" [class.active]="currentStep >= 10">
                    <div class="circle">10</div>
                    <div class="label">Birthday</div>
                </div>
                <div class="step" [class.active]="currentStep >= 11">
                    <div class="circle">11</div>
                    <div class="label">Anniversary</div>
                </div>
                <div class="step" [class.active]="currentStep >= 12">
                    <div class="circle">12</div>
                    <div class="label">Gender</div>
                </div>
                <div class="step" [class.active]="currentStep >= 13">
                    <div class="circle">13</div>
                    <div class="label">Timezone</div>
                </div>
                <!-- Repeat for each step up to 14 -->
                <div class="step" [class.active]="currentStep >= 14">
                    <div class="circle">14</div>
                    <div class="label">Type</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="missingMessage">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Missing Information</h4>
            {{missingMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-7">
            <form #dataForm="ngForm" class="custom-wizard">
                <div *ngIf="currentStep === 0" class="form-group">
                    <label for="firstName">First Name</label>
                    <input [(ngModel)]="contact.firstName" #firstName="ngModel" id="firstName" name="firstName" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text" required>
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> First Name is required
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width" disabled><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" [disabled]="firstName.invalid" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 1" class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input [(ngModel)]="contact.middleName" id="middleName" name="middleName" placeholder="" class="form-control large-text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" type="text">
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 2" class="form-group">
                    <label for="lastName">Last Name</label>
                    <input [(ngModel)]="contact.lastName" #lastName="ngModel" id="lastName" name="lastName" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text" required>
                    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Last Name is required
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <!-- Company information -->
                <div *ngIf="currentStep === 3" class="form-group">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="lastName">Company Name</label>
                                <input [(ngModel)]="contact.company!.name" id="companyName" name="companyName" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label for="dbaName">DBA Name</label>
                                <input [(ngModel)]="contact.company!.dba" id="dbaName" name="dbaName" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label for="numberOfEmployees">Number of Employees</label>
                                <input [(ngModel)]="contact.company!.numberOfEmployees" id="numberOfEmployees" name="numberOfEmployees" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="number">
                            </div>
                        </div>
                        <!-- NAICS Codes-->
                        <div class="row mb-2">
                            <div class="col">
                                <label>Capabilities</label>
                                <app-naics-type-ahead *ngIf="(contact && contact.company)" [(selectedNaicsCodes)]="contact.company.capabilities"></app-naics-type-ahead>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between  mt-2">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 4" class="form-group settings-container">
                    <label for="profession">Title or Profession</label>
                    <input [(ngModel)]="contact.profession" #profession="ngModel" id="profession" name="profession" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text">
                    <div class="setting-row">
                        <span class="setting-text">Important</span>
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="contact.important" id="important" name="important">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="setting-row">
                        <span class="setting-text">Status (Inactive or Active)</span>
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="contact.status" id="status" name="status" (change)="contact.status = contact.status === 'active' ? 'inactive' : 'active'">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 5" class="form-group">
                    <label>Email Address</label>
                    <div *ngFor="let email of contact.emailAddresses; let i = index">
                        <input [(ngModel)]="email.emailAddress" name="emailAddress{{i}}" placeholder="" class="form-control large-text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" type="email" required>
                        <select [(ngModel)]="email.emailAddressType" name="emailAddressType{{i}}" class="form-control large-text-select mt-2">
                            <option value="" selected>Select a Type</option>
                            <option *ngIf="dropdownData['EMAIL_ADDRESS_TYPES']?.length === 0" disabled>No options available</option>
                            <option *ngFor="let type of dropdownData['EMAIL_ADDRESS_TYPES']" [value]="type.name">{{ type.name }}</option>
                        </select>
                        <button type="button" (click)="removeEmailAddress(i)" class="mt-2 btn btn-danger btn-lg btn-round btn-width">Remove</button>
                    </div>
                    <div class="mt-4 mb-4">
                        <button type="button" (click)="addEmailAddress()" class="btn btn-primary btn-lg btn-round">Add Email Address</button>
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStepAfterEmail()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <!-- Phone Section -->
                <div *ngIf="currentStep === 6" class="form-group">
                    <label>Phone Number</label>
                    <div *ngFor="let phone of contact.phoneNumbers; let i = index">
                        <input [(ngModel)]="phone.phoneNumber" name="phoneNumber{{i}}" placeholder="xxx.xxx.xxxx" class="form-control large-text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" type="text" required>
                        <select [(ngModel)]="phone.phoneNumberType" name="phoneNumberType{{i}}" class="form-control large-text-select mt-2">
                            <option value="" selected>Select a Type</option>
                            <option *ngIf="dropdownData['PHONE_TYPES']?.length === 0" disabled>No options available</option>
                            <option *ngFor="let type of dropdownData['PHONE_TYPES']" [value]="type.name">{{ type.name }}</option>
                        </select>
                        <button type="button" (click)="removePhoneNumber(i)" class="mt-2 btn btn-danger btn-lg btn-round btn-width">Remove</button>
                    </div>
                    <div class="mt-4 mb-4">
                        <button type="button" (click)="addPhoneNumber()" class="btn btn-primary btn-lg btn-round">Add Phone Number</button>
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <!-- Address Section -->
                <div *ngIf="currentStep === 7" class="form-group">
                    <app-address-auto-complete [contact]="contact" [dropdownData]="dropdownData" (nextStepAction)="nextStep()" (previousStepAction)="previousStep()" (updateContactAction)="updateContact()"></app-address-auto-complete>
                    <!-- <label>Address</label>
                        <div *ngFor="let address of contact.addresses; let i = index">
                            <div class="mb-2">
                                <input [(ngModel)]="address.streetAddress" name="streetAddress{{i}}" placeholder="Street Address" class="form-control large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <input [(ngModel)]="address.city" name="city{{i}}" placeholder="City" class="form-control large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <select [(ngModel)]="address.state" name="state{{i}}" id="state{{i}}" class="form-control large-text-select" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                                    <option value="">Select State</option>
                                    <option *ngIf="dropdownData['STATES']?.length === 0" disabled>No options available</option>
                                    <option *ngFor="let state of dropdownData['STATES']" [value]="state.name">{{ state.name }}</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <input [(ngModel)]="address.zip" name="zip{{i}}" placeholder="Zip" class="form-control large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <input [(ngModel)]="address.county" name="county{{i}}" placeholder="County" class="form-control large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <input [(ngModel)]="address.country" name="country{{i}}" placeholder="Country" class="form-control large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <select [(ngModel)]="address.addressType" name="addressType{{i}}" class="form-control large-text-select">
                                    <option value="" selected>Select a Type</option>
                                    <option *ngIf="dropdownData['ADDRESS_TYPES']?.length === 0" disabled>No options available</option>
                                    <option *ngFor="let type of dropdownData['ADDRESS_TYPES']" [value]="type.name">{{ type.name }}</option>
                                </select>
                            </div>
                            <button type="button" (click)="removeAddress(i)" class="mt-2 btn btn-danger btn-lg btn-round btn-width">Remove</button>
                        </div>
                        <div class="mt-4 mb-4">
                            <button type="button" (click)="addAddress()" class="btn btn-primary btn-lg btn-round">Add Address</button>
                        </div>
                        <div class="d-flex justify-content-between mt-2 card-footer">
                            <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                            <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                            <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                        </div> -->
                </div>
                <div *ngIf="currentStep === 8" class="form-group">
                    <label>Online Presence</label>
                    <div *ngFor="let social of contact.socialMedia; let i = index">
                        <div class="mb-2">
                            <select [(ngModel)]="social.platform" name="social{{i}}" class="form-control large-text-select" required>
                                <option value="" disabled selected>Select a Platform</option>
                                <option value="website"><i class="fa-solid fa-globe"></i> Website</option>
                                <option value="x-twitter"><i class="fa-brands fa-x-twitter"></i> Twitter</option>
                                <option value="facebook"><i class="fa-brands fa-facebook"></i> Facebook</option>
                                <option value="linkedin"><i class="fa-brands fa-linkedin"></i> LinkedIn</option>
                                <option value="instagram"><i class="fa-brands fa-instagram"></i> Instagram</option>
                                <option value="youtube"><i class="fa-brands fa-youtube"></i> YouTube</option>
                                <option value="pinterest"><i class="fa-brands fa-pinterest"></i> Pinterest</option>
                                <option value="snapchat"><i class="fa-brands fa-snapchat"></i> Snapchat</option>
                                <option value="tiktok"><i class="fa-brands fa-tiktok"></i> TikTok</option>
                                <!-- Add more platforms as needed -->
                            </select>
                        </div>
                        <div class="mb-2">
                            <input [(ngModel)]="social.url" name="url{{i}}" placeholder="URL" class="form-control  large-text" type="url" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                        </div>
                        <div class="mb-2">
                            <input [(ngModel)]="social.username" name="username{{i}}" placeholder="Username (optional)" class="form-control  large-text" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                        </div>
                        <button type="button" (click)="removeSocialMedia(i)" class="mt-2 btn btn-danger btn-lg btn-round btn-width">Remove</button>
                    </div>
                    <div class="mt-4 mb-4">
                        <button type="button" (click)="addSocialMedia()" class="btn btn-primary btn-lg btn-round">Add Social Media Account</button>
                    </div>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i>Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next<i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 9" class="form-group">
                    <label for="nickname">Nickname</label>
                    <input [(ngModel)]="contact.nickname" #nickname="ngModel" id="nickname" name="nickname" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off" class="form-control large-text" type="text">
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 10" class="form-group">
                    <label for="birthday">Birthday</label>
                    <input [(ngModel)]="contact.birthday" #birthday="ngModel" id="birthday" name="birthday" type="date" class="form-control large-text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 11" class="form-group">
                    <label for="anniversary">Anniversary</label>
                    <input [(ngModel)]="contact.anniversary" #anniversary="ngModel" id="anniversary" name="anniversary" type="date" class="form-control large-text" autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off">
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 12" class="form-group">
                    <label for="gender">Gender</label>
                    <select [(ngModel)]="contact.gender" #gender="ngModel" id="gender" name="gender" class="form-control large-text-select">
                        <option *ngIf="dropdownData['GENDERS']?.length === 0" disabled>No options available</option>
                        <option *ngFor="let genderOption of dropdownData['GENDERS']" [value]="genderOption.name">{{ genderOption.name }}</option>
                    </select>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 13" class="form-group">
                    <label for="timezone">Timezone</label>
                    <select [(ngModel)]="contact.timezone" #timezone="ngModel" id="timezone" name="timezone" class="form-control large-text-select">
                        <option *ngIf="dropdownData['TIMEZONES']?.length === 0" disabled>No options available</option>
                        <option *ngFor="let timezoneOption of dropdownData['TIMEZONES']" [value]="timezoneOption.name">{{ timezoneOption.name }}</option>
                    </select>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button type="button" (click)="nextStep()" class="btn btn-primary btn-lg btn-round btn-width">Next <i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </div>
                <div *ngIf="currentStep === 14" class="form-group">
                    <label for="profileType">Business Type</label>
                    <select [(ngModel)]="contact.profileTypes" #profileType="ngModel" id="profileType" name="profileType" multiple class="form-control large-text-select multi-select" size="8">
                        <option *ngIf="dropdownData['PROFILE_TYPES']?.length === 0" disabled>No options available</option>
                        <option *ngFor="let profileTypeOption of dropdownData['PROFILE_TYPES']" [value]="profileTypeOption.name">{{ profileTypeOption.name }}</option>
                    </select>
                    <div class="d-flex justify-content-between mt-2 card-footer">
                        <button type="button" (click)="previousStep()" class="btn btn-primary btn-lg btn-round btn-width"><i class="fa-solid fa-circle-chevron-left"></i> Previous</button>
                        <button *ngIf="contact.id" type="button" (click)="updateContact()" type="submit" class="btn btn-primary btn-lg btn-round btn-width">Update</button>
                        <button *ngIf="!contact.id" type="button" (click)="onSubmit();" type="submit" class="btn btn-primary btn-lg btn-round btn-width" [disabled]="!dataForm.form.valid">Submit <i class="fa-solid fa-cloud"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div id="diagnostic" [ngStyle]="{'display': diagDisplay}" *ngIf="!production">
                <h4>JSON View</h4>
                <pre class="text-light bg-dark p-4">{{this.contact | json}}</pre>
            </div>
            <app-read [contact]="contact"></app-read>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas #lastContactTimelineChart id="lastContactTimelineChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas #communicationFrequencyChart id="communicationFrequencyChart"></canvas>
        </div>
    </div>
    <div id="diagnostic" [ngStyle]="{'display': diagDisplay}" *ngIf="!production">
        <h4>JSON View</h4>
        <pre class="text-light bg-dark p-4">{{this.contact | json}}</pre>
    </div>
</div>
<ng-container *ngIf="isLoading">
    <ng-template #spinner>
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="round_spinner">
                    <div class="spinner"></div>
                    <div class="text">
                        <img src="assets/taliferro-website-logo.png" width="100" height="100" alt="Taliferro">
                        <h4><span>Taliferro</span> </h4>
                    </div>
                </div>
                <h2 class="head">Hold Tight!</h2>
                <p></p>
            </div>
        </div>
    </ng-template>
</ng-container>