<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://taliferro.com"><strong>{{companyName}}</strong> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/email']">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/contact-dashboard']">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notifications']">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openHelp()" style="cursor: pointer;">Help</a>

        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-solid fa-ellipsis"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://taliferro.tech"><small> Powered By {{companyName}} {{version}}</small></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
