<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://taliferro.tech"><strong>{{companyName}}</strong>&nbsp;<span style="font-size: smaller;">{{version}}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contacts
          </a>
          <ul class="dropdown-menu" aria-labelledby="contactsDropdown">
            <li><a class="dropdown-item" [routerLink]="['/contact-dashboard']">Dashboard</a></li>
            <li><a class="dropdown-item" [routerLink]="['/contact-import']">Import</a></li>
            <li><a class="dropdown-item" [routerLink]="['/contact-list']">Manage</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openHelp()" style="cursor: pointer;">Help</a>
        </li>
        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link" (click)="onCalendar()" style="cursor: pointer;">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="onEmail()" style="cursor: pointer;">Email</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/settings']">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/platform-activity']">Platform Log</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/start-page']">Start Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>