<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Contacts</h1>
        </div>
        <div class="col-md-5 text-right">
            <button (click)="navigateToEditContact()" class="btn" id="addContactIcon" title="Add a Contact Record"><i class="fa-solid fa-plus"></i></button>
            <button class="btn" (click)="exportToCSV()" id="exportContactsIcon" title="Export">
                <i class="fa-solid fa-file-export"></i>
            </button>
            <button (click)="resetPagination()" class="btn" id="exportContactsIcon" title="Reset the Record List"><i class="fa-solid fa-window-restore"></i></button>
            <button (click)="loadMore()" class="btn" id="exportContactsIcon" title="Load More Records"><i class="fa-solid fa-download"></i></button>
        </div>
        <div class="col-md-1">
            <select name="numberOfItems" id="numberOfItems" class="form-control form-control-lg ta-input-element" [(ngModel)]="pageSize" (change)="onNumberOfItemsChange()">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
            </select>
        </div>
    </div>
    <div class="row mb-5 mt-2">
        <div class="col-md-10">
            <div class="input-group"> <span class="input-group-addon bg-theme"><i class="fas fa-filter"></i></span>
                <!-- Use 'disabled' binding with the async pipe to check if contacts exist and are more than 0 -->
                <input [(ngModel)]="searchText" type="text" name="searchText" id="searchText" class="form-control form-control-lg ta-input-element" placeholder="Filter contacts . . ." [disabled]="(contacts$ | async)?.length === 0">
            </div>
        </div>
        <div class="col-md-2 text-right">
            <!-- Check if the observable has emitted data and use the count to determine singular/plural -->
            <span *ngIf="data && data.length">
                {{ data.length }} Item<span *ngIf="data.length !== 1">s</span>
            </span>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Company</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of data | filterContacts:searchText" (click)="onView(contact)" style="cursor: pointer;">
                <td>{{ contact?.company?.name }}</td>
                <!-- Safely access the first email address, if available -->
                <td class="text-capitalize">{{ contact?.firstName }}</td>
                <td class="text-capitalize">{{ contact?.lastName }}</td>
                <td>{{ (contact.emailAddresses && contact.emailAddresses.length && contact.emailAddresses.length > 0) ? contact.emailAddresses[0].emailAddress : 'No email' }}</td>
                <td>
                    <div *ngIf="contact.profileTypes">
                        <span *ngFor="let category of contact.profileTypes; let i = index">
                            {{category}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>