#addContactIcon {
    background-color: #4CAF50; /* Green background */
    border-radius: 50%; /* Circle shape */
    padding: 10px; /* Padding around the icon */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

#addContactIcon i {
    color: white; /* White icon */
}
@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#addContactIcon {
    animation: flash 2.5s 5;
}

#exportContactsIcon {
    background-color: #2d6a2f; /* Green background */
    border-radius: 50%; /* Circle shape */
    padding: 10px; /* Padding around the icon */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

#addContactIcon i {
    color: white; /* White icon */
}