<div class="ta-vertical-center">
    <div class="container">
        <div class="row justify-content-md-center ta-row">
            <div class="col">
                <section class="container-server-errors">
                    <div class="server-errors pages-card">
                        <div class="status-text-1">Oops!</div>
                        <div class="status-error text-theme hertbit">4 0 2</div>
                        <div class="text-center status-text-2 text-dark">Payment Required</div>
                        <div class="small text-center text-dark">Access to this feature requires a subscription. Please visit our subscription page to purchase a plan or update your payment details. If you believe you've received this message in error, please contact our support team. </div>
                        <div class="text-center"> <a routerLink="/" class="btn  btn-theme login-btn text-white mt-5"> Go Home </a> </div>
                    </div>
                    <!-- end server-error pages -->
                </section>
            </div>
        </div>
    </div>
    <!-- end secton container -->
</div>
<div class="half-circle"></div>
<div class="small-circle"></div>
<div class="half-circle-bottom"></div>
<div class="small-circle-bottom"></div>